<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http//ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hua.app.dao.CustomerCommentDAO">
	<select id="search" resultType="customerCommentVO">
		SELECT 
		    did,
		    customer_comment_name,
		    thumbnail_1,
		    thumbnail_2,
		    content_,
		    last_update_time,
		    last_update_by
		FROM
		    advertorial.customer_comment_t
		    where 1=1
		     <if test="did != null and did != ''" >and did=#{did}</if>
        	limit #{start},#{limit};
	</select>
	<select id="count" resultType="java.lang.Integer" >
		SELECT count(*)  FROM advertorial.customer_comment_t
	</select>
	<delete id="delete" parameterType="customerCommentVO">
		<if test="did != null">
			delete from advertorial.customer_comment_t where did=#{did}
		</if>
		<if test="did_ != null">
			delete from advertorial.customer_comment_t where did in
			<foreach collection="did_" item = "model" open="(" separator="," close=")">#{model}</foreach>  
		</if>
	</delete>
	<update id="update" parameterType="customerCommentVO">
		update advertorial.customer_comment_t
		<set>
			<if test="customer_comment_name != null">customer_comment_name=#{customer_comment_name},</if>
			<if test="thumbnail_1 != null">thumbnail_1=#{thumbnail_1},</if>
			<if test="thumbnail_2 != null">thumbnail_2=#{thumbnail_2},</if>
			<if test="content_ != null">content_=#{content_},</if>
			<if test="last_update_by != null">last_update_by=#{last_update_by},</if>
		</set>
		last_update_time=now()
		where did=#{did}
	</update>
	<insert id="commit" parameterType="customerCommentVO">
		INSERT INTO advertorial.customer_comment_t
		(
			customer_comment_name,
		    thumbnail_1,
		    thumbnail_2,
		    content_,
		    last_update_time,
		    last_update_by)
		values
		(
			#{customer_comment_name},
		    #{thumbnail_1},
		    #{thumbnail_2},
		    #{content_},
		    now(),
		    #{last_update_by})
	</insert>
</mapper>	