<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http//ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hua.app.dao.ExpressInfoDAO">
	<select id="search" resultType="expressInfoVO">
		SELECT 
		    did,
		    consignee,
		    telephone,
		    address,
		    express_company,
		    express_no,
		    last_update_time,
		    last_update_by
		FROM
		    advertorial.express_info_t
		    where 1=1
		     <if test="did != null and did != ''" >and did=#{did}</if>
        	limit #{start},#{limit};
	</select>
	<select id="count" resultType="java.lang.Integer" >
		SELECT count(*)  FROM advertorial.express_info_t
	</select>
	<delete id="delete" parameterType="expressInfoVO">
		
		
		<if test="did != null">
			delete from advertorial.express_info_t where did=#{did}
		</if>
		<if test="did_ != null">
			delete from advertorial.express_info_t where did in
			<foreach collection="did_" item = "model" open="(" separator="," close=")">#{model}</foreach>  
		</if>
	</delete>
	<update id="update" parameterType="expressInfoVO">
		update advertorial.express_info_t
		<set>
			<if test="consignee != null">consignee=#{consignee},</if>
			<if test="telephone != null">telephone=#{telephone},</if>
			<if test="address != null">address=#{address},</if>
			<if test="express_company != null">express_company=#{express_company},</if>
			<if test="express_no != null">express_no=#{express_no},</if>
			<if test="last_update_by != null">last_update_by=#{last_update_by},</if>
		</set>
		last_update_time=now()
		where did=#{did}
	</update>
	<insert id="commit" parameterType="expressInfoVO">
		INSERT INTO advertorial.express_info_t
		(
			consignee,
		    telephone,
		    address,
		    express_company,
		    express_no,
		    last_update_time,
		    last_update_by)
		values
		(
			#{consignee},
		    #{telephone},
		    #{address},
		    #{express_company},
		    #{express_no},
		    now(),
		    #{last_update_by})
	</insert>
</mapper>	