<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http//ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hua.app.dao.FriendshipLinkDAO">
	<select id="search" resultType="friendshipLinkVO">
		SELECT 
		    did,
		    link_name,
		    link_address,
		    add_time,
		    last_update_time,
		    last_update_by
		FROM
		    advertorial.friendship_link_t
		    where 1=1
		     <if test="did != null and did != ''" >and did=#{did}</if>
        	limit #{start},#{limit};
	</select>
	<select id="count" resultType="java.lang.Integer" >
		SELECT count(*)  FROM advertorial.friendship_link_t
	</select>
	<delete id="delete" parameterType="friendshipLinkVO">
		
		
		<if test="did != null">
			delete from advertorial.friendship_link_t where did=#{did}
		</if>
		<if test="did_ != null">
			delete from advertorial.friendship_link_t where did in
			<foreach collection="did_" item = "model" open="(" separator="," close=")">#{model}</foreach>  
		</if>
	</delete>
	<update id="update" parameterType="friendshipLinkVO">
		update	advertorial.friendship_link_t
		<set>
			<if test="link_name != null">link_name=#{link_name},</if>
			<if test="link_address != null">link_address=#{link_address},</if>
			<if test="last_update_by != null">last_update_by=#{last_update_by},</if>
		</set>
		last_update_time=now()
		where did=#{did}
	</update>
	<insert id="commit" parameterType="friendshipLinkVO">
		INSERT INTO advertorial.friendship_link_t
		(
			link_name,
		    link_address,
		    add_time,
		    last_update_time,
		    last_update_by)
		values
		(
			#{link_name},
		    #{link_address},
		    now(),
		    now(),
		    #{last_update_by})
	</insert>
</mapper>	