<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http//ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hua.app.dao.UserFeedbackDAO">
	<select id="search" resultType="userFeedbackVO">
		SELECT 
		    did,
		    title,
		    content,
		    status,
		    last_update_time,
		    last_update_by
		FROM
		    advertorial.user_feedback_t
		    where 1=1
		     <if test="did != null and did != ''" >and did=#{did}</if>
        	limit #{start},#{limit};
	</select>
	<select id="count" resultType="java.lang.Integer" >
		SELECT count(*)  FROM advertorial.user_feedback_t
	</select>
	<delete id="delete" parameterType="userFeedbackVO">
		
		
		<if test="did != null">
			delete from advertorial.user_feedback_t where did=#{did}
		</if>
		<if test="did_ != null">
			delete from advertorial.user_feedback_t where did in
			<foreach collection="did_" item = "model" open="(" separator="," close=")">#{model}</foreach>  
		</if>
	</delete>
	<update id="update" parameterType="userFeedbackVO">
		update advertorial.user_feedback_t
		<set>
			<if test="title != null">title=#{title},</if>
			<if test="content != null">content=#{content},</if>
			<if test="status != null">status=#{status},</if>
			<if test="last_update_by != null">last_update_by=#{last_update_by},</if>
		</set>
		last_update_time=now()
		where did=#{did}
	</update>
	<insert id="commit" parameterType="userFeedbackVO">
		INSERT INTO advertorial.user_feedback_t
		(
			title,
		    content,
		    status,
		    last_update_time,
		    last_update_by)
		values
		(
			#{title},
		    #{content},
		    #{status},
		    now(),
		    #{last_update_by})
	</insert>
</mapper>	