<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http//ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hua.app.dao.WebsitConfigDAO">
	<select id="search" resultType="websitConfigVO">
		SELECT 
		    did,
		    websit_name,
		    internet_address,
		    title_,
		    keyword,
		    description,
		    last_update_time,
		    last_update_by
		FROM
		    advertorial.websit_config_t
		    where 1=1
		     <if test="did != null and did != ''" >and did=#{did}</if>
        	limit #{start},#{limit};
	</select>
	<select id="count" resultType="java.lang.Integer" >
		SELECT count(*)  FROM advertorial.websit_config_t
	</select>
	<delete id="delete" parameterType="websitConfigVO">
		
		
		<if test="did != null">
			delete from advertorial.websit_config_t where did=#{did}
		</if>
		<if test="did_ != null">
			delete from advertorial.websit_config_t where did in
			<foreach collection="did_" item = "model" open="(" separator="," close=")">#{model}</foreach>  
		</if>
	</delete>
	<update id="update" parameterType="websitConfigVO">
		update advertorial.websit_config_t
		<set>
			<if test="websit_name != null">websit_name=#{websit_name},</if>
			<if test="internet_address != null">internet_address=#{internet_address},</if>
			<if test="title_ != null">title_=#{title_},</if>
			<if test="keyword != null">keyword=#{keyword},</if>
			<if test="description != null">description=#{description},</if>
			<if test="last_update_by != null">last_update_by=#{last_update_by},</if>
		</set>
		last_update_time=now()
		where did=#{did}
	</update>
	<insert id="commit" parameterType="websitConfigVO">
		INSERT INTO advertorial.websit_config_t
		(
			websit_name,
		    internet_address,
		    title_,
		    keyword,
		    description,
		    last_update_time,
		    last_update_by)
		values
		(
			#{websit_name},
		    #{internet_address},
		    #{title_},
		    #{keyword},
		    #{description},
		    now(),
		    #{last_update_by})
	</insert>
</mapper>	