<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http//ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hua.app.dao.WeiboBatchPriceAdjustmentDAO">
	<select id="search" resultType="weiboBatchPriceAdjustmentVO">
		SELECT 
		    did,
		    price_adjustment_choose,
		    straight_market_price,
		    straight_lock_price,
		    redirect_market_price,
		    redirect_lock_price,
		    straight_cost,
		    redirect_cost,
		    last_update_time,
		    last_update_by
		FROM
		    advertorial.weichat_batch_price_adjustment_t
		    where 1=1
		     <if test="did != null and did != ''" >and did=#{did}</if>
        	limit #{start},#{limit};
	</select>
	<select id="count" resultType="java.lang.Integer" >
		SELECT count(*)  FROM advertorial.weichat_batch_price_adjustment_t
	</select>
	<delete id="delete" parameterType="weiboBatchPriceAdjustmentVO">
		
		
		<if test="did != null">
			delete from advertorial.weichat_batch_price_adjustment_t where did=#{did}
		</if>
		<if test="did_ != null">
			delete from advertorial.weichat_batch_price_adjustment_t where did in
			<foreach collection="did_" item = "model" open="(" separator="," close=")">#{model}</foreach>  
		</if>
	</delete>
	<update id="update" parameterType="weiboBatchPriceAdjustmentVO">
		update advertorial.weichat_batch_price_adjustment_t
		<set>
			<if test="price_adjustment_choose != null">price_adjustment_choose=#{price_adjustment_choose},</if>
			<if test="straight_market_price != null">straight_market_price=#{straight_market_price},</if>
			<if test="straight_lock_price != null">straight_lock_price=#{straight_lock_price},</if>
			<if test="redirect_market_price != null">redirect_market_price=#{redirect_market_price},</if>
			<if test="redirect_lock_price != null">redirect_lock_price=#{redirect_lock_price},</if>
			<if test="straight_cost != null">straight_cost=#{straight_cost},</if>
			<if test="redirect_cost != null">redirect_cost=#{redirect_cost},</if>
			<if test="last_update_by != null">last_update_by=#{last_update_by},</if>
		</set>
		last_update_time=now()
		where did=#{did}
	</update>
	<insert id="commit" parameterType="weiboBatchPriceAdjustmentVO">
		INSERT INTO advertorial.weichat_batch_price_adjustment_t
		(
			price_adjustment_choose,
		    straight_market_price,
		    straight_lock_price,
		    redirect_market_price,
		    redirect_lock_price,
		    straight_cost,
		    redirect_cost,
		    last_update_time,
		    last_update_by)
		values
		(
			#{price_adjustment_choose},
		    #{straight_market_price},
		    #{straight_lock_price},
		    #{redirect_market_price},
		    #{redirect_lock_price},
		    #{straight_cost},
		    #{redirect_cost},
		    now(),
		    #{last_update_by})
	</insert>
</mapper>	